/*iPhone 6 landscape*/
@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation : landscape) 
    and (-webkit-min-device-pixel-ratio : 2)
{
  body {
    background-image: url("http://res.cloudinary.com/dsokpy2me/image/upload/v1422640818/phone6_landscape_vl5vmy.jpg");
    background-size: 1334px 750px;
    background-repeat: no-repeat;  
  }

  h2 {
    font-size: 10px;
  }
}

/*iPhone 6 portrait*/
@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 2)
{ 
  body {
    background-image: url("http://res.cloudinary.com/dsokpy2me/image/upload/v1422640818/phone6_portrait_dzotpx.jpg");
    background-size: 750px 1334px;
    background-repeat: no-repeat;
  }

  a {
    font-size: 10px;
  } 
}

/*Retina iPad in landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { 
  body {
    background-image: url("http://res.cloudinary.com/dsokpy2me/image/upload/v1422641058/tablet_landscape_a41wle.jpg");
    background-size: 100%; 
    background-repeat: no-repeat;
  }

}

/*Retina iPad in portrait*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {  
  body {
    background-image: url("http://res.cloudinary.com/dsokpy2me/image/upload/v1422640819/tablet_portrait_kmq3kd.jpg");
    background-size: 100%; 
    background-repeat: no-repeat;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  body {
    background-image: url("http://res.cloudinary.com/dsokpy2me/image/upload/v1422640957/IMG_1502_lbichw.jpg");
    background-size: 100%; 
    background-repeat: no-repeat;
  }
}

.header {
  height: 35px;
  border-bottom: 1px solid #ED1C24;;
}

a {
  color: #666699;
}

a:hover {
  color: black;
}

.innerBody {
  width: 100%;
  padding: 20px;
}

.knot {
  position: absolute;
  top: 35px;
  left: 200px;
}